/* style.css for portfolio project */
@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700");

/* =-=-=-=-=-=-=-=-=-=-= VARIABLES =-=-=-=-=-=-=-= */
:root {
  --main-color: #4e6e7d;
  --text-color: #ce9e62;
  --menu-bg-color: rgba(78, 110, 125, 0.6);
  --project-mask: rgba(78, 110, 125, 0.4);
}

/* =-=-=-=-=-=-=-=-=-=-= GENERAL RULES =-=-=-=-=-= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  line-height: 1.2;
  color: var(--text-color);
  font-family: Montserrat;
  overflow-x: hidden;
}

button:active,
button:focus {
  outline: none;
}

.center {
  margin: auto;
  text-align: center;
}

/* HAMBURGER RULES GO HERE */
/* TEMP */
.toggle {
  display: none;
}

/* =-=-=-=-=-=-=-= MARQUEE & BACKGROUND RULES =-=-=-=-=-=-=-=-=-= */
#background::after,
.background0::after,
.background1::after,
.background2::after {
  filter: blur(3px);
  display: block;
  transition: all 0.8s;
  background-position: -50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 104%;
  height: 100vh;
  content: "";
}

#background::after,
.background0::after {
  background-image: url("../img/halfhat2.png");
}

.background1::after {
  background-image: url("../img/the-thinker.png");
}

.background2::after {
  background-image: url("../img/shades-and-code.png");
}

.marquee {
  position: absolute;
  top: 15%;
  left: 75%;
  z-index: 1;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  text-shadow: 2px 2px #000;
}

.marquee .logo {
  width: 75px;
  height: 75px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.marquee .title {
  margin-top: 1rem;
  font-size: 2.2rem;
}

.marquee .text {
  margin-top: 1rem;
  line-height: 1.7rem;
}

/* =-=-=-=-=-=-=-=-=-=-= LINK BAR RULES =-=-=-=-=-=-=-=-=-= */
.link-bar h3,
.experience h3 {
  padding-top: 12px;
  font-family: cinzel;
  font-weight: 700;
}

button > h3 {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 700;
}

.link-bar a {
  text-decoration: none;
  color: var(--text-color);
}

.link-bar button {
  outline: none;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
}

.contact-icon {
  font-size: 3rem;
}

.container {
  margin: auto;
  padding: 4rem 1rem;
  max-width: 960px;
  overflow: hidden;
}

.link-icon {
  width: 5rem;
}

.link-icon:hover ~ h3,
.link-icon:hover,
.link-item:hover,
.link-bar h3:hover {
  transition: all 0.5s;
  opacity: 0.3;
}

.link-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.bg-dark {
  background-color: var(--main-color);
  color: var(--text-color);
}

.bg-light {
  background-color: var(--text-color);
  color: var(--main-color);
}

/* =-=-=-=-=-=-=-= PORTFOLIO RULES =-=-=-=-=-=-=-=-=-= */
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 12px;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 6px;
  padding: 12px;
}

.box {
  position: relative;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px #000;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
}

.box:hover .project-title {
  opacity: 1;
}

.box:hover .project-image img {
  filter: blur(2px);
}

.project-image {
  height: 300px;
  line-height: 0;
}

.project-title {
  font-weight: 700;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 1;
  background-color: var(--project-mask);
  /* this must match height & width from img selector */
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.project-subtitle {
  margin-bottom: 0.7rem;
  font-size: 0.8rem;
}

.project-image img {
  filter: blur(0px);
  transform: scale(1.1);
  transition: filter 0.3s ease-in;
}

.button {
  margin: 5px;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  background-color: var(--text-color);
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 0.7rem;
}

.button:hover {
  transition: all 0.4s;
  background-color: var(--main-color);
}

.grade {
  font-size: 0.5rem;
}

/*  =-=-=-=-=-=-=-= ABOUT ME RULES =-=-=-=-=-=-=-=-=-= */
.link-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.about-icon {
  width: 9rem;
}

.btn-resume {
  color: var(--main-color);
  padding: 0.8rem;
  background-color: var(--text-color);
  border-radius: 6px;
  font-weight: 700;
  font-family: Montserrat;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-resume:hover {
  opacity: 0.5;
}

/* =-=-=-=-=-=-=-=-= EXPERIENCE RULES =-=-=-=-=-=-=-=-= */
.experience {
  padding: 12px;
}

/* =-=-=-=-=-=-=-= MODAL CARD RULES =-=-=-=-=-=-=-=-=-= */
.modal-mask {
  display: none;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.modal-card {
  position: relative;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  background-color: #fff;
  width: 24rem;
  height: 15rem;
  text-align: center;
  color: #333;
}

.modal-card p {
  margin: 1rem;
  font-size: 1rem;
}

.modal-contact {
  margin: 0.5rem;
  font-family: cinzel;
}

.modal-link {
  cursor: pointer;
  text-decoration: none;
  color: #777;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 1.5rem;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #333;
  font-size: 2rem;
}

.close-btn:hover {
  transform: rotate(135deg);
}

.icon {
  margin: 0.5rem 0.9rem 0 0.9rem;
  width: 2rem;
}

.socials a {
  margin: 0 0.6rem 0 0.6rem;
  text-decoration: none;
  color: #333;
  font-family: cinzel;
  font-weight: 700;
}

/* =-=-=-=-=-=-=-= FOOTER RULES =-=-=-=-=-=-=-=-=-=-=-= */
footer {
  padding: 2.2rem;
}

.back-to-top {
  display: flex;
  visibility: hidden;
  position: fixed;
  bottom: 0.7rem;
  right: 1.1rem;
  font-size: 4rem;
  color: var(--text-color);
  background-color: var(--menu-bg-color);
  z-index: 2;
  text-decoration: none;
  border-radius: 10px;
  padding: 0 8px;
  text-shadow: 2px 2px #000;
}

/*  =-=-=-=-=-=-=-=-=-=-=-=-=-=-= MEDIA QUERIES =-=-=-=-=-=-=-=-=-=-=-=-= */
/* tablets */
@media (max-width: 768px) {
  .background0::after,
  .background1::after,
  .background2::after {
    height: 50vh;
  }

  .marquee {
    top: 5%;
    left: 50%;
    margin-top: 5px;
  }

  .marquee .logo {
    height: 140px;
    width: 140px;
  }

  .marquee .text {
    display: none;
  }

  .marquee .title {
    font-size: 1.5rem;
  }

  .link-items,
  .link-about {
    grid-template-columns: 1fr;
  }

  .container > div {
    border-bottom: var(--text-color) dashed 1px;
    padding: 1.2rem 1rem;
  }
}

/* phones */
@media (max-width: 420px) {
  .marquee .title {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .container {
    margin: auto;
    padding: 1rem;
  }

  .button {
    font-size: 1rem;
    padding: 1rem;
  }

  .grade {
    font-size: 1rem;
  }

  .modal-card {
    width: 20rem;
  }
}

/*  landscape */
@media (max-height: 500px) {
  .background0::after,
  .background1::after,
  .background2::after {
    height: 75vh;
    width: 100%;
  }

  .marquee .title {
    font-size: 1.1rem;
  }

  .marquee .text {
    display: none;
  }

  .marquee {
    top: 0;
  }
}
